html {
    font-size: 22px;
}

header {
    background-color: salmon;
    margin: 30px;
    padding: 20px;
}

body {
    background-color: beige;
    color: black;
}

a {
    color: beige;
}

a:visited {
    color: blue;
}

a:hover, a:active {
    color: black;
}

caption, tfoot {
    border: 3px solid salmon;
    background-color: salmon;
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0.5rem;
}

table, tr, th, td {
    border: 3px solid salmon;
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    margin: 0 auto;
}